.assets
.idea
.vscode
silence.wav
video_5s.mp4
videos/video_5s.mp4
video.mp4
utils/__pycache__/logger.cpython-310.pyc
routes/__pycache__/convert_router.cpython-310.pyc
routes/__pycache__/base.cpython-310.pyc
middleware/__pycache__/http.cpython-310.pyc
middleware/__pycache__/core.cpython-310.pyc
middleware/__pycache__/__init__.cpython-310.pyc
media/user_id_0222/00001/targetvideo_0222_00001.mp4
media/user_id_0222/00001/image_0222_00001.jpg
media/user_id_0222/00000/targetvideo_0222_00000.mp4
media/user_id_0222/00000/processedvideo_0222_00000.mp4
media/user_id_0222/00000/image_0222_00000.jpg
media/user_id_0025/00001/targetvideo_0025_00001.mp4
media/user_id_0025/00001/image_0025_00001.jpg
media/user_id_0025/00000/targetvideo_0025_00000.mp4
media/user_id_0025/00000/image_0025_00000.jpg
media/user_id_0022/00000/targetvideo_0022_00000.mp4
media/user_id_0022/00000/image_0022_00000.jpg
media/user_id_0010/00001/image_0010_00001.jpg
media/user_id_0010/00001/targetvideo_0010_00001.mp4
media/user_id_0010/00000/targetvideo_0010_00000.mp4
media/user_id_0010/00000/image_0010_00000.jpg
media/user_id_0002/00001/targetvideo_0002_00001.mp4
media/user_id_0002/00001/image_0002_00001.jpg
media/user_id_0002/00002/image_0002_00002.jpg
media/user_id_0002/00002/targetvideo_0002_00002.mp4
media/user_id_0002/00000/image_0002_00000.jpg
media/user_id_0002/00000/targetvideo_0002_00000.mp4
logs/http.log
imageRonaldo.jpgZone.Identifier
facefusion/processors/frame/modules/__pycache__/lip_syncer.cpython-310.pyc
facefusion/processors/frame/modules/__pycache__/frame_enhancer.cpython-310.pyc
facefusion/processors/frame/modules/__pycache__/face_swapper.cpython-310.pyc
facefusion/processors/frame/modules/__pycache__/face_enhancer.cpython-310.pyc
facefusion/processors/frame/modules/__pycache__/face_debugger.cpython-310.pyc
facefusion/processors/frame/modules/__pycache__/__init__.cpython-310.pyc
facefusion/processors/frame/__pycache__/typings.cpython-310.pyc
facefusion/processors/frame/__pycache__/globals.cpython-310.pyc
facefusion/processors/frame/__pycache__/core.cpython-310.pyc
facefusion/processors/frame/__pycache__/choices.cpython-310.pyc
facefusion/processors/frame/__pycache__/__init__.cpython-310.pyc
facefusion/processors/__pycache__/__init__.cpython-310.pyc
facefusion/__pycache__/wording.cpython-310.pyc
facefusion/__pycache__/vision.cpython-310.pyc
facefusion/__pycache__/typing.cpython-310.pyc
facefusion/__pycache__/test_convert_video.cpython-310.pyc
facefusion/__pycache__/statistics.cpython-310.pyc
facefusion/__pycache__/process_manager.cpython-310.pyc
facefusion/__pycache__/normalizer.cpython-310.pyc
facefusion/__pycache__/metadata.cpython-310.pyc
facefusion/__pycache__/memory.cpython-310.pyc
facefusion/__pycache__/logger.cpython-310.pyc
facefusion/__pycache__/installer.cpython-310.pyc
facefusion/__pycache__/globals.cpython-310.pyc
facefusion/__pycache__/filesystem.cpython-310.pyc
facefusion/__pycache__/ffmpeg.cpython-310.pyc
facefusion/__pycache__/face_store.cpython-310.pyc
facefusion/__pycache__/face_masker.cpython-310.pyc
facefusion/__pycache__/face_helper.cpython-310.pyc
facefusion/__pycache__/face_analyser.cpython-310.pyc
facefusion/__pycache__/execution.cpython-310.pyc
facefusion/__pycache__/core.cpython-310.pyc
facefusion/__pycache__/download.cpython-310.pyc
facefusion/__pycache__/content_analyser.cpython-310.pyc
facefusion/__pycache__/config.cpython-310.pyc
facefusion/__pycache__/common_helper.cpython-310.pyc
facefusion/__pycache__/choices.cpython-310.pyc
facefusion/__pycache__/audio.cpython-310.pyc
facefusion/__pycache__/__init__.cpython-310.pyc
database/__pycache__/database.cpython-311.pyc
database/__pycache__/database.cpython-310.pyc
config/__pycache__/logging_cfg.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/api.cpython-310.pyc
